include ../mixin/mixins.pug
include ../data/header-data.pug
include ../data/footer-data.pug

doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="../../assets/images/logo.png", type="image/x-icon")
        link(rel="stylesheet", href="../../css/style.css")
        link(rel="stylesheet", href="../../assets/css/font-awesome.min.css")
        block title
            title #{pageTitle}
    body 
        block header
          include ../partials/header
        block content
        block footer
          include ../partials/footer
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js") 
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js") 