include ../mixin/footer-mixin.pug
footer 
    section.footer__top
        ul.footer-top__list
            li.footer-top__item.about-us
                h4.item__title về chúng tôi
                p.description Công ty Cổ phần Công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử
                div.address 
                    i.fa.fa-map-marker
                    p
                        |Tầng 4 - Tòa nhà Hanoi Group 442
                        br
                        |Đội Cấn Ba Đình - Hà Nội
                div.email 
                    i.fa.fa-envelope
                    span support@dkt.com.vn
                div.phone-number
                    i.fa.fa-mobile
                    span (84-4) 66558868  -  (84-4) 37868904
            each item in footerData 
                li.footer-top__item
                    h4.item__title #{item.title}
                    ul.item__list 
                        +singleList(item.listItem,"subItem")
                        
            li.footer-top__item.connect 
                h4.item__title Kết nối
                ul.item__list 
                    +socialList(bottomSocial,"subItem")
    section.payment-support
        div.payment
            h6.title Thanh toán:
            div.content
                ul.payment__list
                    for payment in paymentData
                        li.payment__item
                            img(src=payment, alt="bank")
        div.support
            h6.title Giải đáp nhanh:
            div.content 
                div.support__item
                    div.support-item__img
                        i.fa.fa-phone
                    div.support-item__content
                        span.item__title Tư vấn miễn phí (24/7)
                        br
                        span.item__hotline 1900 650 650
                div.support__item
                    div.support-item__img
                        i.fa.fa-weixin
                    div.support-item__content
                        span.item__title Góp ý - phản hồi - thắc mắc
                        br
                        span.item__hotline 1900 650 650
    section.footer__bottom 
        div.footer-bottom__content
            div.copyright 
                p Bản quyền thuộc về 
                    b &nbsp;Design Team.  
                p &nbsp;Phát triển bởi 
                    b &nbsp;Bizweb
            nav.bottom__nav-bar
                ul.bottom-nav__list
                    each item in bottomMenuData
                        li.bottom-nav__item
                            a(href=item.link) #{item.label}  

    