extends ../layout/layout.pug
block header
  include ../partials/header
block content
    - var sidebarData = { productCategories: true, priceRanger: true, listColor: true, promotion: true, newsCategories: false, picLibrary: false, tags: false, }
    - const pages = ["Trang trước", "1", "2", "3", "Trang cuối"]
    nav.breadcrumbs-wrap
        ul.breadcrumbs
            li 
                a(href="/index.html") Trang chủ
                i.fa.fa-caret-right
            li 
                a(href="#")  Danh mục sản phẩm

    main.product-list
        aside.sidebar
            include ../partials/sidebar.pug
        section.products-view 
            div.filter
                form.filter__form
                    div.sort-by.form__select
                        label(for="sort-by") Sắp xếp theo:
                        select#sort-by
                            option(value="1") Tên sản phẩm 
                    div.num-of-product.form__select
                        label(for="num-of-product") Show:
                        select#num-of-product
                            option(value="9") 9  
                div.view-mode
                    div.btn.active
                        i.fa.fa-bars
                    div.btn
                        i.fa.fa-th
            div.list
                ul.list__products 
                    each product in productData
                        + productItem(product, true, true)
            div.paging
                each page in pages
                    button.btn.btn--white 
                        | #{page}
        
block footer
  include ../partials/footer