extends ../base/base
prepend title
  - var pageTitle = "Danh sách sản phẩm"

block content
    include ../data/product-data.pug
    - var breadcrumbsData = [{label:"Trang chủ", path:"./index.html"}, {label:"Danh mục sản phẩm",path:"#"},] 
    
    + breadcrumbs(breadcrumbsData)
    main.product-list
        aside.sidebar
            include ../partials/sidebar.pug
        section.products-view 
            div.filter
                form.filter__form
                    div.sort-by.form__select
                        label(for="sort-by") Sắp xếp theo:
                        select#sort-by
                            option(value="1") Tên sản phẩm 
                    div.num-of-product.form__select
                        label(for="num-of-product") Show:
                        select#num-of-product
                            option(value="9") 9  
                div.view-mode
                    a(href="/product-list.html").btn.active  
                        i.fa.fa-bars
                    a(href="/product-grid.html").btn
                        i.fa.fa-th
            div.list
                ul.list__products 
                    each product, index in productData
                        if index < 9
                            + productItem(product, true, true)
            + paging(pages)
