.products-view {
    width: 100%;
    margin-left: 30px;
    @include flex(column, flex-start);

    @include media-query(large, max) {
        margin-left: 0;
    }
}

.filter,
.filter__form,
.product-grid {
    @include flex(row, space-between);
}

.filter {
    font-family: $arial-mt;
    padding: 5px 0 20px;
    margin-bottom: 40px;
    color: $color-mine-shaft;
    border-bottom: 1px solid $color-mercury;
    @include align-items(center);

    @include media-query(small, max) {

        &,
        .filter__form {
            width: 100%;
            @include flex(column, space-between, flex-start);

            .form__select {
                margin-bottom: 10px;
            }
        }
    }
}

.filter__form {
    .form__select {
        position: relative;
        @include flex($items: center);

        &.sort-by {
            margin-right: 30px;

            select {
                padding-right: 50px;
            }
        }

        &::before {
            @include pseudo($content:"\f0dd");
            font-family: 'FontAwesome';
            right: 10px;
            top: 40%;
            @include prefix(transform, translateY(-50%));
        }

        label {
            white-space: nowrap;
        }
    }

    select {
        margin-left: 10px;

        @include media-query(medium, max) {
            min-width: 0;
        }
    }

    .num-of-product select {
        min-width: 100px;

        @include media-query(medium, max) {
            min-width: 0;
        }
    }
}

.view-mode {
    @include flex();

    .btn {
        @include box(34px);
        position: relative;
        color: $color-gray;
        border: 1px solid $color-mercury;

        i {
            font-size: 18px;
            @include centerer;
        }
    }

    .btn:nth-child(2) {
        margin-left: 5px;
    }

    .btn.active {
        color: $color-yellow;
    }

}

.grid {
    margin-bottom: 30px;
}

.grid__products {
    @include flex(row, space-between, flex-start, wrap);

    .product__item {
        max-width: calc((100% - 60px) / 3);
        width: 100%;

        @include media-query(medium, max) {
            max-width: calc((100% - 30px) / 2);
        }

        @include media-query(small, max) {
            max-width: 100%;
        }
    }
}

.products-view .paging {
    @include flex($content: flex-end);

    .btn {
        font-size: 13px;
        margin-left: 5px;
        min-width: 40px;
        @include flex($items:center);
        border-color: $color-mercury;
        color: $color-gray;

        &:hover {
            border-color: $color-yellow;
            background-color: $color-yellow !important;
        }
    }
}