.register-form {
    padding-top: 30px;
    border-top: 1px solid $color-mercury;
}

.form__title {
    margin-bottom: 40px;
}

.form__content {
    @include flex(row, space-between, flex-start, wrap);

    @include media-query(medium, max) {
        @include flex-direction(column);

        &>.form__input {
            width: 100% !important;
        }
    }

    &>.form__input {
        width: calc((100% - 30px) / 2);

        span {
            color: $color-red;
        }

        input {
            margin: 20px 0;
            width: 100%;
        }
    }

    &>.input-subscribe {
        margin-bottom: 35px;
        @include custom-checkbox-label;
    }
}

.form-action {
    @include flex;

    .btn {
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 10px;
        padding: 10px 30px;
    }
}