.register-form {
    padding-top: 30px;
    border-top: 1px solid $color-mercury;
}

.form__title {
    margin-bottom: 40px;
}

.form__content {
    @include flex(row, space-between, flex-start, wrap);

    @include media-query(medium, max) {
        @include flex-direction(column);

        &>.form__input {
            width: 100% !important;
        }
    }

    &>.form__input {
        width: calc((100% - 30px) / 2);

        span {
            color: $color-red;
        }

        input {
            margin: 20px 0;
            width: 100%;
        }
    }

    &>.input-subscribe {
        margin-bottom: 35px;

        label {
            @include flex($items:center);
            font-family: "Arial-MT";
            font-style: italic;
            color: $color-gray;

            &::before {
                @include pseudo(inline-block, relative);
                @include box(15px);
                margin-right: 10px;
                border-radius: 3px;
                background-color: $color-white-smoke;
                border: 1px solid $color-gray-light;
            }
        }

        input {
            display: none;

            &:checked~label::before {
                content: "\f00c";
                font-family: "FontAwesome";
            }
        }
    }
}

.form-action {
    @include flex;

    .btn {
        text-transform: uppercase;
        margin-right: 10px;
        padding: 10px 30px;
    }
}