mixin carouselImage (active) 
  if active 
    li.carousel-item.active
      img(src="../assets/images/slider.jpg",width="750" ,height="500", alt='slider image')
  else
    li.carousel-item
      img(src="../assets/images/slider.jpg",width="750" ,height="500", alt='slider image')