- var breadcrumbsData = [{label:"Trang chủ", path:"./index.html"}, {label:"Tin tức",path:"#"},] 
- var sidebarData = { productCategories: true,  newsCategories: true, picLibrary: true, tags: true, }
- const tagsList = ["máy khoan", "máy cắt cnc", "máy in 3D", "công nghiệp", "hàn xì", "uốn ép"]
- const social = [ {link:"#", class:"fa-facebook-f"},{ link:"#", class:"fa-google-plus"},  {link:"#", class:"fa-twitter"}, { link:"#", class:"fa-instagram"} ]
- const pages = ["Trang trước", "1", "2", "3", "Trang cuối"]
