textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    height: 50px;
    padding: 20px;
    border: 1px solid $color-mercury;
}

input[type="number"]::-webkit-inner-spin-button {
    @include prefix(appearance, none);
}
