@font-face {
  font-family: "FontAwesome";
  src: url($awesome) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-black) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-black-italic) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-bold) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-bold-italic) format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-light-italic) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-regular) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-thin-italic) format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-medium-italic) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-thin) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-light) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-italic) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($roboto-medium) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-black) format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-black-italic) format("truetype");
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-bold) format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-bold-italic) format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-light-italic) format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-regular) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-medium-italic) format("truetype");
    font-weight: 500;
    font-style: italic;
  }

  
  @font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-light) format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-italic) format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Arial-MT";
    src: url($arial-mt-medium) format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  