$awesome: "../assets/fonts/fontawesome-webfont.ttf";
$roboto-black-italic: "../assets/fonts/Roboto-BlackItalic.ttf";
$roboto-black: "../assets/fonts/Roboto-Black.ttf";
$roboto-bold-italic: "../assets/fonts/Roboto-BoldItalic.ttf";
$roboto-bold: "../assets/fonts/Roboto-Bold.ttf";
$roboto-italic: "../assets/fonts/Roboto-Italic.ttf";
$roboto-light: "../assets/fonts/Roboto-Light.ttf";
$roboto-light-italic: "../assets/fonts/Roboto-LightItalic.ttf";
$roboto-medium: "../assets/fonts/Roboto-Medium.ttf";
$roboto-medium-italic: "../assets/fonts/Roboto-MediumItalic.ttf";
$roboto-regular: "../assets/fonts/Roboto-Regular.ttf";
$roboto-thin: "../assets/fonts/Roboto-Thin.ttf";
$roboto-thin-italic: "../assets/fonts/Roboto-ThinItalic.ttf";

$arial-mt-italic: "../assets/fonts/ArialMT-Italic.ttf";
$arial-mt-regular: "../assets/fonts/ArialMT-Regular.ttf";

$image-icon-title: "../assets/images/icon-title.png";
$image-icon-title-gray: "../assets/images/icon-title-gray.png";
$image-icon-x: "../assets/images/icon-x.png";
$newsletter-cover: "../assets/images/newsletter.png";

$facebook-color: #5675cc;
$twitter-color:#1b95e0;
$google-color:#db4437;

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extra-large: 1200px,
);

$color-gallery-transparent: #ebebeb80;
$color-white: #ffffff;
$color-white-smoke: #f5f5f5;
$color-alabaster: #f7f7f7;
$color-mercury: #e1e1e1;
$color-mine-shaft: #363636;
$color-nero: #252525;
$color-gray: #898989;
$color-dove-gray: #636363;
$color-silver-chalice: #a1a1a1;
$color-silver: #acacac;
$color-yellow-light: #f6c121;
$color-yellow: #f5bd10;
$color-black: #202020;
$color-red: #ff0000;
$color-gallery: #ebebeb;
$color-blue: #0685ca;